electronic-voucher/src/main/resources/comprobanteRetencion1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Jacobo Salazar (Particular) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by ALEJANDRO SUBIA (SERVICIO DE RENTAS INTERNAS) -->
<xsd:schema xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:simpleType name="numeroRuc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC del Contribuyente</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idCliente">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC Cedula o Pasaporte del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroRucCedula">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC o cedula del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9]{10}"/>
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fecha">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de uso del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaAutorizacion">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de la autorizacion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaCaducidad">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de caducidad del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimiento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del establecimiento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puntoEmision">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del punto de emision</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencial">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDoc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="7"/>
			<xsd:minInclusive value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDocSust">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento de sustento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="documento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ambiente">
		<xsd:annotation>
			<xsd:documentation>Desarrollo o produccion depende de en cual ambiente se genere el comprobante.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoEmision">
		<xsd:annotation>
			<xsd:documentation>Tipo de emision en el cual se genero el comprobante</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-3]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="claveAcceso">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero generado por el sistema de cada contribuyente
                    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="infoTributaria">
		<xsd:annotation>
			<xsd:documentation>Contiene la informacion tributaria generica</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ambiente" type="ambiente"/>
			<xsd:element name="tipoEmision" type="tipoEmision"/>
			<xsd:element name="razonSocial" type="razonSocial"/>
			<xsd:element name="nombreComercial" type="nombreComercial" minOccurs="0"/>
			<xsd:element name="ruc" type="numeroRuc"/>
			<xsd:element name="claveAcceso" type="claveAcceso"/>
			<xsd:element name="codDoc" type="codDoc"/>
			<xsd:element name="estab" type="establecimiento"/>
			<xsd:element name="ptoEmi" type="puntoEmision"/>
			<xsd:element name="secuencial" type="secuencial"/>
			<xsd:element name="dirMatriz" type="dirMatriz"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuesto">
		<xsd:annotation>
			<xsd:documentation>Impuesto de un comprobante de retencion.  Contiene los elementos de cada fila del comprobante.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigo" type="codigo"/>
			<xsd:element name="codigoRetencion" type="codigoRetencion"/>
			<xsd:element name="baseImponible" type="baseImponible"/>
			<xsd:element name="porcentajeRetener" type="porcentajeRetener"/>
			<xsd:element name="valorRetenido" type="valorRetenido"/>
			<xsd:element name="codDocSustento" type="codDocSustento"/>
			<xsd:element name="numDocSustento" type="numDocSustento" minOccurs="0"/>
			<xsd:element name="fechaEmisionDocSustento" type="fechaEmisionDocSustento" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="comprobanteRetencion">
		<xsd:annotation>
			<xsd:documentation>Elemento que describe un comprobante de Retencion</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="infoTributaria" type="infoTributaria"/>
				<xsd:element name="infoCompRetencion">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="fechaEmision" type="fechaEmision"/>
							<xsd:element name="dirEstablecimiento" type="dirEstablecimiento" minOccurs="0"/>
							<xsd:element name="contribuyenteEspecial" type="contribuyenteEspecial" minOccurs="0"/>
							<xsd:element name="obligadoContabilidad" type="obligadoContabilidad" minOccurs="0"/>
							<xsd:element name="tipoIdentificacionSujetoRetenido" type="tipoIdentificacionSujetoRetenido"/>
							<xsd:element name="razonSocialSujetoRetenido" type="razonSocialSujetoRetenido"/>
							<xsd:element name="identificacionSujetoRetenido" type="identificacionSujetoRetenido"/>
							<xsd:element name="periodoFiscal" type="periodoFiscal"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="impuestos">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="impuesto" type="impuesto" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="infoAdicional" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="campoAdicional" maxOccurs="15">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="campoAdicional">
											<xsd:attribute name="nombre" type="nombre"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
					</xsd:sequence>
			<xsd:attribute name="id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="comprobante"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:NMTOKEN" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="valorRetenido">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoRetencion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmisionDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0][1-9]|[1-2][0-9]|[3][0-1])/([0][1-9]|[1][0-2])/[1-2][0-9][0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombre">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{15}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocSustento">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="porcentajeRetener">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="3"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="periodoFiscal">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0][1-9]|[1][0-2])/[1-2][0-9][0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocialSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionSujetoRetenido">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="04|05|06|07"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirMatriz">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:whiteSpace value="preserve"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombreComercial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0][1-9]|[1-2][0-9]|[3][0-1])/([0][1-9]|[1][0-2])/[1-2][0-9][0-9][0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirEstablecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteEspecial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="obligadoContabilidad">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="SI|NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="04|05|06|07"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalSinImpuestos">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigo">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
			<xsd:pattern value="[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDoc">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentaje">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponible">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicional">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="([A-Z]|[a-z]|[0-9]|ñ|Ñ)+([\w]|[\s]|[\S])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
